<h1>課程詳細資訊</h1>

<table class="table">
    <thead>
        <tr>
            <td>英文課名</td>
            <td>中文課名</td>
            <td>課程描述</td>
            <td>處理</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @course.name_en %></td>
            <td><%= @course.name_ch %></td>
            <td><%= @course.description %></td>
            <td>
                <%= link_to "編輯", edit_course_path(@course), class: "btn btn-default" %>
                <%= link_to "刪除", course_path(@course), method: "delete", data: { confirm: "確認刪除此課程？" }, class: "btn btn-danger" %>
            </td>
        </tr>
    </tbody>
</table>

<%= link_to "回課程列表", courses_path, class: "btn btn-default" %>