<!DOCTYPE html>
<html>
  <head>
    <title>KyoseiAcademy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Kyosei Academy", about_index_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "系列課程列表", tracks_path %>
            </li>
            <li>
              <%= link_to "課程列表", courses_path %>
            </li>
            <li>
              <%= link_to "講師列表", teachers_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div class="container">
      <footer>
        <br>
        <br>
        <br>
        <p>&copy; Powered by Kyosei.ai, Inc.</p>
      </footer>
    </div>
  </body>
</html>
